.root {
  margin: 0 20px;
}

.banner {
  width: 100%;
  height: 100px;
  padding: 0 !important;
}

.heading-text {
  margin: 0;
  position: absolute;
  text-decoration: none;
  font-size: 60px;
}

.heading-font {
  font-family: retro, monospace;
}

@font-face {
  font-family: "retro";
  src: url(../../pattern-lib/fonts/retro_computer_personal_use.ttf)format("opentype");
}

@media screen and (max-width: 700px) {
  .heading-text {
    font-size: 32px;
  }
}
